$black: #000;
$white: #fff;
$grey: #767676;
$grey-light: #a9a9a9;
$grey-dark: #444444;
$red: #f46b51;
$green: #41cf41;



// $grey-bg: #f2f2f2;
// $grey: #d1d1d1;
// $grey-light: #edeff2;
// $blue: #4576ff;
// $yellow: #ffc107;
// $navigation: #17a2b8;
$font-family-base: "Roboto", sans-serif;
$h1-font-size: 36px;
$h2-font-size: 28px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$large-text-font-size: 16px;
$text-font-size: 14px;
$small-text-font-size: 12px;

$font-weight-normal: 300;
$font-weight-light:100;
$font-weight-heavy:600;

$maxMobileSize: 560px;
$minMobileSize: 320px;

// zum
$temp1 : #70575D;
$temp2 :#8a5539;
$temp3 :#C7AD8F;
$temp4: #52453E;
$temp5:#72826E;
$temp6: #596775;
$temp7: #545059;
$temp8:#A13D02;
$temp9: #E4D7DE;
$temp10:#FBFDFC;
$temp11:#C6a699;
$temp12:#F1D2E1;
$temp13:#2F85A0;
$temp14:#C9DBE9;
$temp15:#E7E9E8;
$temp16:#08384F;
$temp17:#9F8E94;