@import "/src/assets/scss/variables";

.loginForm {
  max-width: 25em;
}

.loginInputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1em 0 0;
  padding-bottom: 2em;

  &:first-child {
    margin: 0;
  }
  svg {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    bottom: 2.5em;
    right: 0.25em;
  }
}

.loginButton {
  background-color: $green;
}
